export(google_get_address)
# export(xlsx_flex_read)
importFrom("stats", "filter", "var")
importFrom("magrittr", `%>%`)
importFrom("foreach", `%do%`)
importFrom("plyr", `.`)
importFrom("rlang", ".data")
# importFrom("readxl", "read_xls")
# importFrom("openxlsx", "read.xlsx")
# importFrom("xlsx", "read.xlsx")
# importFrom("rlang", "is_null")
